// colors

$color-accent: #abb2bf;
$color-secondary: #fff;
$color-primary: #c778dd;
$color-background: #282c33;

// variables
$fontSize-default: 16px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semobold: 600;
