:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Fira Code", sans-serif;
  line-height: $lineHeight-default;
  font-weight: $fontWeight-regular;
  font-size: $fontSize-default;
  color: $color-accent;
  background-color: $color-background;
  min-width: 320px;
  min-height: 100vh;
}

.pink {
  color: $color-primary;
}

path {
  transition: $transition-high;
}
