@import "@/styles/variables.modules";

.about {
  .wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .description {
      max-width: 600px;
      margin-top: 200px;
      line-height: $lineHeight-medium;
      position: relative;
      &::after {
        content: "";
        background-image: url(/54.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 250px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 30%;
      }
      p {
        margin-bottom: 15px;
      }
      .link {
        transition: 0.3s;
        &:hover {
          color: darken($color-primary, $amount: 15);
        }
      }
    }
    .img {
      position: relative;
      &::before {
        content: "";
        background-image: url(/qwe.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0px;
        left: -80px;
        z-index: -1;
        opacity: 30%;
      }
      &::after {
        content: "";
        background-image: url(/asd.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        position: absolute;
        bottom: 0px;
        right: -80px;
        z-index: -1;
        opacity: 30%;
      }
      img {
        border-radius: 260px;
        height: 700px;
      }
    }
  }
}
