@import "@/styles/variables.modules";

.button {
  display: flex;
  margin-top: 23px;
  padding: 10px 15px;
  border: 1px solid $color-primary;
  color: $color-secondary;
  transition: $transition-default;
  width: fit-content;
  gap: 10px;
  cursor: pointer;
  &:hover {
    background-color: $color-buttonBg;
  }
}
