@import "../../styles/variables.modules";

header {
  padding: 30px 0px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      li + li {
        margin-left: 25px;
      }
      a {
        color: $color-accent;
        transition: $transition-default;
        &:hover {
          color: $color-secondary;
        }
        &[class$="active"] {
          color: $color-primary;
        }
      }
    }
  }
}
