@import "@/styles/variables.modules";

.projects {
  .title {
    font-size: $fontSize-big;
    font-weight: $fontWeight-medium;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 500px;
      background-color: $color-primary;
      bottom: 50%;
      margin-left: 30px;
    }
  }
  .wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1023px) {
  .title {
    &::after {
      width: 250px !important;
    }
  }
}
