@import "../../../styles/variables.modules";

.fill {
  circle {
    transition: 0.3s;
  }
  &:hover {
    circle {
      fill: #c778dd;
    }
  }
}

@media (max-width: 1024px) {
  .fill {
    display: none;
  }
}
